<nav *ngIf="sidenav" class="w3-sidenav w3-animate-left w3-padding w3-large globalColor" style="z-index:5">
		<img class="w3-margin-bottom" [src]="'assets/pictures/icon.png'" style="width: 100%;" />
		<a routerLink="/home" routerLinkActive="active"  class="w3-margin-top" (click)="pushButtonNav('home')">Home</a>
		<a routerLink="/events-list" routerLinkActive="active" (click)="pushButtonNav('events-list')">Event List</a>
		<a routerLink="/crews-list" routerLinkActive="active" (click)="pushButtonNav('crews-list')">Crew List</a>
		<a routerLink="/guide" routerLinkActive="active" (click)="pushButtonNav('guide')">Guide</a>
		<a routerLink="/settings" routerLinkActive="active" (click)="pushButtonNav('settings')">Settings</a>
		<a routerLink="/about" routerLinkActive="active" (click)="pushButtonNav('about')">About</a>
</nav>

<div (click)="sidenavShowHide()" *ngIf="sidenav" class="w3-overlay w3-animate-opacity" style="cursor:pointer"></div>

<nav class="w3-container globalColor">
	<div class="w3-row w3-quarter globalColor">
		<div (click)="sidenavShowHide()" class="w3-container w3-col w3-opennav w3-xlarge" style="width:auto;" >&#8801;</div>
		<div class="w3-container w3-rest w3-medium" ><input *ngIf="searchBar" [(ngModel)]="searchBarContent" type="text" class="w3-input" style="width:auto;" placeholder="Search.." /></div>
		<div id="searchBar" class="hide" >{{searchBarContent}}</div>
	</div>
	<div class="w3-threequarter w3-medium">
		<ul class="w3-navbar" >
			<li *ngFor="let index of navMenu.ref">
				<a [routerLink]="[index.link]" >{{index.title}}</a></li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
