<div class="w3-card-4 w3-margin w3-padding w3-container">
	<h2>User Informations</h2>
	<p>Organization: {{settings.ref.getOrganization()}}</p>
	<p>Email: {{settings.ref.getEmail()}}</p>
	<p>Country: {{settings.ref.getCountry()}}</p>
	<p>PostCode: {{settings.ref.getPostalCode()}}</p>
	<p>Phone: {{settings.ref.getPhone()}}</p>
	<p>Address 1: {{settings.ref.getAddress()}}</p>
	<p>Address 2: {{settings.ref.getAddressSupplement()}}</p>
</div>
<div class="w3-card-4 w3-margin w3-padding w3-container">
	<h2>Developement Team Informations</h2>
	<p>BTS SNIR 2016-2017 Year-end project</p>
	<p>Teachers: M.Sutre & M.Valade</p>
	<p>developers :</p>
	<li>A.ZARZITSKI: Data Acquisition</li>
	<li>S.SIXOU: Data Exploitation</li>
	<p>© 2017 Lycée Les Eucalyptus de Nice - Tous droits réservés</p>
</div>
