<nav id="deletePanel" [ngClass]="{ 'hide': !deleteFlightPanelIhm.ref }" class="w3-margin w3-animate-left w3-padding globalColor" style="z-index:5">
	<h2>Are you sure you wish to delete this Flight?</h2>
	<h3>{{ 'Flight: ' +flight.ref.getFlightNumber() }}</h3>
	<div class="w3-bar w3-margin-bottom">
		<button (click)="ucelaboratepairinglist.deletePanelHide()" class="w3-button w3-red w3-margin-top">Cancel</button>
		<button (click)="ucelaboratepairinglist.deleteFlight()" class="w3-button w3-green w3-margin-top w3-right">Yes</button>
	</div>
</nav>

<nav id="deletePanel" [ngClass]="{ 'hide': winnerPanelIhm.ref.deletePanelhide }" class="w3-margin w3-animate-left w3-padding globalColor" style="z-index:5">
	<h2>Are you sure you wish to remove registered score?</h2>
	<div class="w3-bar w3-margin-bottom">
		<button (click)="ucelaboratepairinglist.deleteWinnerPanelHide()" class="w3-button w3-red w3-margin-top">Cancel</button>
		<button (click)="ucelaboratepairinglist.removeWinnerScore()" class="w3-button w3-green w3-margin-top w3-right">Yes</button>
	</div>
</nav>

<nav id="winnerPanel" [ngClass]="{ 'hide': winnerPanelIhm.ref.hide }" class="w3-margin w3-animate-left w3-padding w3-cyan" style="z-index:5">
	<h3>Winner</h3>
	<div class="w3-row w3-xlarge">
		<div class="w3-half w3-container w3-blue">Blue</div>
		<div class="w3-half w3-container w3-yellow w3-right-align">Yellow</div>
	</div>
	<input type="range" class="w3-input" min="0" max="2" step="1" [(ngModel)]="winnerPanelIhm.ref.scoreBar" />
	<div class="w3-round w3-yellow" [ngClass]="{ 'w3-blue': (winnerPanelIhm.ref.scoreBar == 1)?true:false }">
		<div id="progressBar" class="w3-container w3-blue w3-round w3-left-align" style="width: 100%;" *ngIf="(winnerPanelIhm.ref.scoreBar == 0)?true:false">1</div>
		<div id="progressBar" class="w3-container w3-blue w3-round w3-right-align" style="width: 50%;" *ngIf="(winnerPanelIhm.ref.scoreBar == 1)?true:false">1/2</div>
		<div id="progressBar" class="w3-container w3-yellow w3-round w3-right-align" style="width: 100%;" *ngIf="(winnerPanelIhm.ref.scoreBar == 2)?true:false">1</div>
	</div>
	<label class="w3-label w3-text-light-gray w3-margin-top">Race Finish Time: </label>
	<input class="w3-input" step="1" type="time" [(ngModel)]="winnerPanelIhm.ref.time"/>
	<div class="w3-bar w3-margin-bottom">
		<button (click)="ucelaboratepairinglist.winnerPanelHide()" class="w3-button w3-red w3-margin-top">Cancel</button>
		<button (click)="ucelaboratepairinglist.saveWinnerScore()" class="w3-button w3-green w3-margin-top w3-right">Save</button>
	</div>
</nav>

<nav id="winnerPanel" [ngClass]="{ 'hide': !penaltyPanelIhm.ref }" class="w3-margin w3-animate-left w3-padding w3-indigo" style="z-index:5">
	<h3>Penalty</h3>
	<label class="w3-label w3-text-light-gray">Penalty points: </label>
	<input type="range" class="w3-input" min="0" max="1" step="0.1" [(ngModel)]="racer.ref.getPenalty().points" />
	<div class="w3-round w3-ambre">
		<div id="progressBar" class="w3-container w3-red w3-round w3-left-align" [style.width]="racer.ref.getPenalty().getPoints()/1*100+'%'">{{racer.ref.getPenalty().getPoints()}}</div>
	</div>
	<label class="w3-label w3-text-light-gray w3-margin">Detail: </label>
	<textarea rows="4" [(ngModel)]="racer.ref.getPenalty().detail">
	</textarea>
	<div class="w3-bar w3-margin-bottom">
		<button (click)="ucelaboratepairinglist.penaltyPanelIhmHide()" class="w3-button w3-red w3-margin-top">Cancel</button>
		<button (click)="ucelaboratepairinglist.createUpdateDeletePenalty()" class="w3-button w3-green w3-margin-top w3-right">Save</button>
	</div>
</nav>

<div (click)="ucelaboratepairinglist.winnerPanelHide()" [ngClass]="{ 'hide': winnerPanelIhm.ref.hide }" class="w3-overlay w3-animate-opacity" style="cursor:pointer"></div>
<div (click)="ucelaboratepairinglist.penaltyPanelIhmHide()" [ngClass]="{ 'hide': !penaltyPanelIhm.ref }" class="w3-overlay w3-animate-opacity" style="cursor:pointer"></div>
<div (click)="ucelaboratepairinglist.deleteWinnerPanelHide()" [ngClass]="{ 'hide': winnerPanelIhm.ref.deletePanelhide }" class="w3-overlay w3-animate-opacity" style="cursor:pointer"></div>
<div (click)="ucelaboratepairinglist.deletePanelHide()" [ngClass]="{ 'hide': !deleteFlightPanelIhm.ref }" class="w3-overlay w3-animate-opacity" style="cursor:pointer"></div>

<div class="w3-card-4 w3-margin w3-padding w3-container w3-animate-left " >
	<div class="w3-padding-0 w3-margin-top w3-animate-left " style="width: 100%; overflow: auto;" *ngFor="let flightSelected of phase.ref.getFlightsList(); let i = index" [attr.data-index]="i">
		<div *ngIf="resultSearchBar('Flight '+flightSelected.getFlightNumber())">
			<div class="globalColor w3-container w3-padding-0">
				<button (click)="ucelaboratepairinglist.detailPanelShowHide(flightSelected)" class="w3-threequarter w3-button globalColor w3-xlarge w3-left-align" style="background-color: transparent;">Flight {{flightSelected.getFlightNumber()}}</button>
				<a [routerLink]="['/phase', phase.ref.getId()]" *ngIf="flightSelected.getFlightNumber() == flightService.getLastFlightNumber()" fragment="deletePanel" (click)="ucelaboratepairinglist.deletePanelShow(flightSelected)" class="w3-quarter w3-button globalColor w3-xlarge"><img [src]="'assets/pictures/cross.png'"  title="delete Flight" style="height: 32px;" /></a>
			</div>

			<div class="w3-border w3-border-grey w3-padding" [ngClass]="{ 'hide': !flightSelected.getHiddenContent() }">
			<div *ngIf="event.ref.getTimeManagement()" class="globalColor w3-container w3-padding w3-row">
				<h3 class="w3-quarter w3-container">Start Time: </h3>
				<input *ngIf="(flightSelected.getStartDateTime() == '')?true:false;" class="w3-quarter w3-input" type="date" [(ngModel)]="startDate.ref" />
				<input *ngIf="(flightSelected.getStartDateTime() == '')?true:false;" class="w3-quarter w3-input" type="time" step="1" [(ngModel)]="startTime.ref" />
				<h3 *ngIf="(flightSelected.getStartDateTime() == '')?false:true;" class="w3-half w3-container">{{flightSelected.getStartDateTime()}}</h3>
				<button *ngIf="(flightSelected.getStartDateTime() == '')?false:true;" (click)="ucelaboratepairinglist.deleteStartDateTime(flightSelected)" class="w3-quarter w3-button globalColor w3-xlarge"><img [src]="'assets/pictures/cross.png'" style="height: 32px;" /></button>
				<button *ngIf="(flightSelected.getStartDateTime() == '')?true:false;" (click)="ucelaboratepairinglist.createStartDateTime(flightSelected)" class="w3-quarter w3-button globalColor w3-xlarge"><img [src]="'assets/pictures/start.png'" style="height: 32px;" /></button>
			</div>
			<table class="w3-table-all w3-large">
				<thead>
					<tr class="">
						<th style="width: 5%;">Match</th>
						<th style="width: 40%;" class="w3-blue">Blue</th>
						<th style="width: 40%;" class="w3-yellow">Yellow</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let matchSelected of flightSelected.getMatchsList(); let i = index" [attr.data-index]="i">
						<td>{{i+1}}</td>
						<td>
							<table *ngIf="matchSelected.getLocked()" class="w3-table-all w3-large">
								<tr
									(click)="ucelaboratepairinglist.penaltyPanelIhmShow(matchSelected.getBlue())"
									*ngIf="matchSelected.getFinishDateTime() != ''"
									[ngClass]="{
									'w3-blue': (matchSelected.getBlue().getPoints()-matchSelected.getBlue().getPenalty().getPoints())
									 >= (matchSelected.getYellow().getPoints()-matchSelected.getYellow().getPenalty().getPoints()),
									 'stripe-3': (matchSelected.getBlue().getPenalty().getPoints() > 0)?true:false
									}"
								>
									<td>{{ matchSelected.getBlue().getName() + ' / ' + matchSelected.getBlue().getCountry() + ' / ' + matchSelected.getBlue().getIsaf() }}</td>
									<td>{{ matchSelected.getBlue().getBoat().getBoatNumber() }}</td>
									<td>{{ matchSelected.getBlue().getLetter() }}</td>
								</tr>
								<tr class="w3-sand" (click)="ucelaboratepairinglist.winnerPanelShow(matchSelected, 'blue')" *ngIf="matchSelected.getFinishDateTime() == ''">
									<td>{{ matchSelected.getBlue().getName() + ' / ' + matchSelected.getBlue().getCountry() + ' / ' + matchSelected.getBlue().getIsaf() }}</td>
									<td>{{ matchSelected.getBlue().getBoat().getBoatNumber() }}</td>
									<td>{{ matchSelected.getBlue().getLetter() }}</td>
								</tr>
							</table>
							<table *ngIf="!matchSelected.getLocked()" class="w3-table-all w3-large">
								<tr class="w3-blue">
									<td>
										<select class="w3-select" [(ngModel)]="matchSelected.blueSubscriberId">
											<option value="-1"></option>
											<option *ngFor='let subscribeSelected of ucelaboratepairinglist.getSubscribersList(flightSelected, matchSelected.getBlueSubscriberId())' [ngValue]="subscribeSelected.getId()">{{subscribeSelected.getName() + " / " + subscribeSelected.getCountry() + " / " +subscribeSelected.getLetter()}}</option>
										</select>
									</td>
									<td>
										<select class="w3-select" [(ngModel)]="matchSelected.blueBoatId">
											<option value="-1"></option>
											<option *ngFor='let boatSelected of ucelaboratepairinglist.getBoatsList(flightSelected, matchSelected.getBlueBoatId())' [ngValue]="boatSelected.getId()">{{"Boat: " + boatSelected.getBoatNumber()}}</option>
										</select>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table *ngIf="matchSelected.getLocked()" class="w3-table-all w3-large matchYellow">
								<tr (click)="ucelaboratepairinglist.penaltyPanelIhmShow(matchSelected.getYellow())"
								 *ngIf="matchSelected.getFinishDateTime() != ''"
								 [ngClass]="{
									 'w3-yellow': (matchSelected.getBlue().getPoints()-matchSelected.getBlue().getPenalty().getPoints())
									 <= (matchSelected.getYellow().getPoints()-matchSelected.getYellow().getPenalty().getPoints()),
									 'stripe-3': (matchSelected.getYellow().getPenalty().getPoints() > 0)?true:false
								  }">
									<td>{{ matchSelected.getYellow().getName() + ' / ' + matchSelected.getYellow().getCountry() + ' / ' + matchSelected.getYellow().getIsaf() }}</td>
									<td>{{ matchSelected.getYellow().getBoat().getBoatNumber() }}</td>
									<td>{{ matchSelected.getYellow().getLetter() }}</td>
								</tr>
								<tr class="w3-sand" (click)="ucelaboratepairinglist.winnerPanelShow(matchSelected, 'yellow')" *ngIf="matchSelected.getFinishDateTime() == ''">
									<td>{{ matchSelected.getYellow().getName() + ' / ' + matchSelected.getYellow().getCountry() + ' / ' + matchSelected.getYellow().getIsaf() }}</td>
									<td>{{ matchSelected.getYellow().getBoat().getBoatNumber() }}</td>
									<td>{{ matchSelected.getYellow().getLetter() }}</td>
								</tr>
							</table>
							<table *ngIf="!matchSelected.getLocked()" class="w3-table-all w3-large matchYellow">
								<tr class="w3-yellow">
									<td>
										<select class="w3-select" [(ngModel)]="matchSelected.yellowSubscriberId">
											<option value="-1"></option>
											<option *ngFor='let subscribeSelected of ucelaboratepairinglist.getSubscribersList(flightSelected, matchSelected.getYellowSubscriberId())' [ngValue]="subscribeSelected.getId()">{{subscribeSelected.getName() + " / " + subscribeSelected.getCountry() + " / " +subscribeSelected.getLetter()}}</option>
										</select>
									</td>
									<td>
										<select class="w3-select" [(ngModel)]="matchSelected.yellowBoatId">
											<option value="-1"></option>
											<option *ngFor='let boatSelected of ucelaboratepairinglist.getBoatsList(flightSelected, matchSelected.getYellowBoatId())' [ngValue]="boatSelected.getId()">{{"Boat: " + boatSelected.getBoatNumber()}}</option>
										</select>
									</td>
								</tr>
							</table>
						</td>
						<td *ngIf="matchSelected.getFinishDateTime() == ''">
							<button title="unlock Match" *ngIf="matchSelected.getLocked()" (click)="ucelaboratepairinglist.unlockMatch(matchSelected)" class="w3-quarter w3-button globalColor w3-xlarge" [ngStyle]="{ 'background-image': 'url(' + 'assets/pictures/padlock.png' + ')'}"></button>
							<button title="lock Match" *ngIf="!matchSelected.getLocked()" (click)="ucelaboratepairinglist.updateMatch(matchSelected)" class="w3-quarter w3-button globalColor w3-xlarge" [ngStyle]="{ 'background-image': 'url(' + 'assets/pictures/padlockOpen.png' + ')'}"></button>
						</td>
						<td *ngIf="matchSelected.getFinishDateTime() != ''">
							{{matchSelected.getFinishDateTime()}}
							<a [routerLink]="['/phase', phase.ref.getId()]" fragment="deletePanel" (click)="ucelaboratepairinglist.deleteWinnerPanelShow(matchSelected)" class="w3-quarter w3-button globalColor w3-xlarge" [ngStyle]="{ 'background-image': 'url(' + 'assets/pictures/cross.png' + ')'}"  title="delete Score"></a>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<table class="w3-table-all w3-large w3-blue">
								<tr class="w3-blue">
									<td>
										<select class="w3-select" [(ngModel)]="flightSelected.blueSubscriberId">
											<option value="0"></option>
											<option *ngFor='let subscribeSelected of ucelaboratepairinglist.getSubscribersList(flightSelected, flightSelected.blueSubscriberId)' [ngValue]="subscribeSelected.getId()">{{subscribeSelected.getName() + " / " + subscribeSelected.getCountry() + " / " +subscribeSelected.getLetter()}}</option>
										</select>
									</td>
									<td>
										<select class="w3-select" [(ngModel)]="flightSelected.blueBoatId">
											<option value="0"></option>
											<option *ngFor='let boatSelected of ucelaboratepairinglist.getBoatsList(flightSelected, flightSelected.blueBoatId)' [ngValue]="boatSelected.getId()">{{"Boat: " + boatSelected.getBoatNumber()}}</option>
										</select>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table class="w3-table-all w3-large w3-blue matchYellow">
								<tr class="w3-yellow">
									<td>
										<select class="w3-select" [(ngModel)]="flightSelected.yellowSubscriberId">
											<option value="0"></option>
											<option *ngFor='let subscribeSelected of ucelaboratepairinglist.getSubscribersList(flightSelected, flightSelected.yellowSubscriberId)' [ngValue]="subscribeSelected.getId()">{{subscribeSelected.getName() + " / " + subscribeSelected.getCountry() + " / " +subscribeSelected.getLetter()}}</option>
										</select>
									</td>
									<td>
										<select class="w3-select" [(ngModel)]="flightSelected.yellowBoatId">
											<option value="0"></option>
											<option *ngFor='let boatSelected of ucelaboratepairinglist.getBoatsList(flightSelected, flightSelected.yellowBoatId)' [ngValue]="boatSelected.getId()">{{"Boat: " + boatSelected.getBoatNumber()}}</option>
										</select>
									</td>
								</tr>
							</table>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>

<div *ngIf="flightService.getLastFlightNumber() == ucelaboratepairinglist.getMaxFligthInArray() || ucelaboratepairinglist.getMaxFligthInArray() == 0" class="w3-right-align w3-padding-left w3-padding-right w3-margin">
	<a (click)="ucelaboratepairinglist.createFlight()" title="add Flight" class="w3-btn-floating-large hook_bottom_left globalColor w3-margin-top">+</a>
</div>
