<div class="w3-card-4 w3-margin w3-padding w3-container w3-margin-top ; overflow: auto;" >
  <h2>Purpose of this application:</h2>
  <p>SGER stand for Results Management System. This application replaces the pen and paper sheets used on a boat by the Race Committee,
    which is not practical.</p>
  <p>With this application you can:</p>
  <div class= "w3-margin-left">
    <li>Organize a Pairing-List</li>
    <li>Organize an Event from its creation to the management of the results</li>
    <li>See the results of an event</li>
    <li>Export the results to PDF and HTML</li>
    <li>Send the exported files via Bluetooth</li>
  </div>
</div>
<div class="w3-card-4 w3-margin w3-padding w3-container w3-margin-top ; overflow: auto;" >
  <h2>Guide: Add a Crew</h2>
  <p>To add a Crew:</p>
  <ol>
    <li>Open the side-bar menu</li>
    <li>Press the Crew-list button</li>
    <li>Push the (+) button</li>
    <li>Add the Crew's informations then save</li>
  </ol>
</div>
<div class="w3-card-4 w3-margin w3-padding w3-container w3-margin-top ; overflow: auto;" >
  <h2>Guide: Organizing an Event</h2>
  <p>To organize an Event:</p>
  <ol>
    <li>You need to already have added crews on the Crew-list</li>
    <li>Open the side-bar menu</li>
    <li>Press the Event-list button</li>
    <li>Push the big (+) button</li>
    <li>Add the Event's informations and the crews participating</li>
    <li>Create the Event</li>
  </ol>
</div>
<div class="w3-card-4 w3-margin w3-padding w3-container w3-margin-top ; overflow: auto;" >
  <h2>Guide: Organizing a Phase</h2>
  <p>To organize a Phase:</p>
  <ol>
    <li>You need to already have created an Event</li>
    <li>Open the side-bar menu</li>
    <li>Press the Event-list button</li>
    <li>Select the Event where you want to organize the Phase</li>
    <li>Push the small (+) button</li>
    <li>Enter the name of the Phase</li>
    <li>Choose whether the Phase is a RoundRobin or not by checking the RoundRobin button</li>
    <li>Select the Phase where you want to enter the Pairing list</li>
    <li>Press the (+) button to add a Flight</li>
    <li>To add a Match press on the Flight's Match</li>
    <li>Select the 2 Crew racing and attribute boat to each racer</li>
    <li>Choose the winner of the Match buy pressing on the crew's name then save</li>
    <li>If you want to add a Penalty to a Crew press on their name, choose the penalty and add its reason then save</li>
  </ol>
</div>
<div class="w3-card-4 w3-margin w3-padding w3-container w3-margin-top ; overflow: auto;" >
  <h2>Guide: Export and Transfer Results</h2>
  <p>To export Results:</p>
  <ol>
    <li>You need to already have created an Event</li>
    <li>Open the side-bar menu</li>
    <li>Press the Event-list button</li>
    <li>Select the Event then/or the Phase you want to export</li>
    <li>Press the HTML or PDF button to create a PDF or a HTML file</li>
  </ol>

  <p>To transfer Results:</p>
  <ol>
    <li>Coming Soon</li>
  </ol>
</div>
