.w3-overlay {
	display : block;
}

.hide
{
    display: none !important;
}

.editMenu
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a{
	text-decoration: none;
}

textarea{
	width: 100%;
}

.stripe-3 {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 10px,
    rgba(255, 0, 0, 1) 10px,
    rgba(255, 0, 0, 1) 20px
  );
}

table button, table a{
	height: 44px;
	width: 100%;
	display: block;
	background-size: auto 80%;
	background-position: center;
	background-repeat: no-repeat;
}

table a{
	height: 100%;
}
